        <main>
            <h1>Attach a new accessory</h1>
            <div class="form">
                <h2>Rubiks Cube</h2>
                <img class="cube" src="https://images-na.ssl-images-amazon.com/images/I/71WS9kb-JFL._SL1300_.jpg">
                <form action="/{{cube._id}}/attachAccessories" method="POST">
                    <label for="accessory">Accessories</label>
                    {{#if accessories}}
                    <select id="accessory" name="accessory" />
                        {{#each accessories}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    {{else}}
                        <h3 class="italic">This cube has all available accessories so far or there is no available at all...</h3>
                    {{/if}}
                    </select>
                    <input type="submit" value="Attach">
                </form>
                
                <a class="btn" href="/details/{{cube._id}}">Back</a>
            </div>
        </main>